/* Universal */

body {
  font-family: 'Raleway';
  color: Ivory;
  background-color: #385263;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center; /*puts nav in the middle*/
  height: 3em;
  border-bottom: 3px dotted rgba(98, 146, 175, 0.3);
  width: 100%;
  background: url("Brown.JPG") no-repeat left top;
  position: static;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  transition: color 0.35s;
  text-decoration: none;
  color: #8DD1FC;
}

a:hover {
  color: #EBCEFC;
}

.smallerMenu {
  display: none;
}

#hiddenTop {
  display: none;
}

/* Making Browser Smaller on Laptop/Desktop Menu */
@media only screen and (max-width: 650px) {
  .menu {
    display: none;
  }

  .smallerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center; /*puts nav in the middle*/
    height: 8.5em;
    border-bottom: 3px dotted rgba(98, 146, 175, 0.3);
    width: 100%;
    background: url("Brown.JPG") no-repeat left top;
    position: static;
  }

  .smallerMenu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .smallerMenu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #nightDahliaSym {
    padding-top: 0.2em;
  }

  .smallerMenu nav ul a {
    padding: 0.075em;
  }

  #topperTop {
    display: none;
  }

  #hiddenTop {
    display: flex;
  }
}

/* iPhone 4 and 4S Menu (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientatio: portrait) {

  }

/* iPhone 5, 5S, 5C and 5SE Menu (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    .menu {
      height: 24em;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .menu nav ul:nth-child(1) {
      font-size: 3rem;
    }

    a[tabindex]:focus {
      color: #8DD1FC;
    }
}

/* iPhone 6, 6S, 7 and 8 Menu (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

    .menu {
      height: 24em;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .menu nav ul:nth-child(1) {
      font-size: 3rem;
    }

    a[tabindex]:focus {
      color: #8DD1FC;
    }
}

/* ipad mini menu */
@media only screen and
  (min-device-width: 768px) and
  (max-device-width: 1024px) and
  (-webkit-min-device-pixel-ratio: 1) {
    a[tabindex]:focus {
      color: #8DD1FC;
    }
}

/* Quote */

.quote {
  display: flex;
  justify-content: center;
  /*font-family: 'Handlee';*/
  font-family: 'Raleway';
}

.quote p {
  word-spacing: 0.03rem;
  line-height: 1.22rem;
  padding: 0 2em;
  text-align: center;
}

.symbol, #flippedSymbol {
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.85
}

.symbol p, #flippedSymbol p {
  line-height: 0.72rem;
}

#psi, #psi2 {
  padding-left: 0.035rem;
}

#flippedSymbol p {
  transform: rotate(180deg);
}

/* Welcome */

#howdy {
  font-family: 'Handlee';
  font-size: 1.25rem;
  margin-bottom: 2px;
}

#welcome {
  height: 85%;
  width: 85%;
  border: 3px dotted #DBA869;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 3%;
  z-index: 1000;
  margin-bottom: 17px;
}

#welcome img {
  border: 3px dotted #DBA869;
  border-top: none;
  /*height: 55%;
  width: 55%;*/
  height: 450px;
  width: 450px;
  position: relative;
}

#gnome {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1002;
}

#gnome p {
  font-family: 'Handlee';
  line-height: 1.22rem;
  word-spacing: 0.03rem;
  font-size: 1.25rem;
}

/* Lenovo fix for Welcome image */
@media screen and (min-width: 1800px), (max-width: 3200px) {
    #welcome img {
      height: auto;
    }
}

/* iPhone 4 and 4S Quote and Welcome (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

  }

/* iPhone 5, 5S, 5C and 5SE Quote and Welcome (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    .symbol, #flippedSymbol {
      height: 4em;
      margin-top: 2em;
    }

    #flippedSymbol {
      margin-bottom: 2em;
    }

    .symbol p, #flippedSymbol p {
      font-size: 3.25rem;
      line-height: 2.3rem;
    }

    .quote p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: 1.5em;
    }

    #howdy {
      font-size: 3.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }

    #welcome {
      border: none;
      width: 95%;
      height: 95%;
    }

    #welcome img {
      border: 3px dotted #DBA869;
      width: 100%;
      height: 100%;
    }

    #gnome span p {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
}

/* iPhone 5, 5S, 5C and 5SE Quote and Welcome (Landscape) */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: landscape) {

    #welcome {
      border-radius: 0%;
    }

    #howdy {
      font-size: 2.5rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    #gnome span p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
}

/* iPhone 6, 6S, 7 and 8 Quote and Welcome (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

    .symbol, #flippedSymbol {
      height: 4em;
      margin-top: 2em;
    }

    #flippedSymbol {
      margin-bottom: 2em;
    }

    .symbol p, #flippedSymbol p {
      font-size: 3.25rem;
      line-height: 2.3rem;
    }

    .quote p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: 1.5em;
    }

    #howdy {
      font-size: 3.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }

    #welcome {
      border: none;
      width: 95%;
      height: 95%;
    }

    #welcome img {
      border: 3px dotted #DBA869;
      width: 100%;
      height: 100%;
    }

    #gnome span p {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
}

/* iPad 1, 2, Mini and Air Quote and Welcome (Portrait AND Landscape) */
@media only screen and
  (min-device-width: 768px) and
  (max-device-width: 1024px) and
  (-webkit-min-device-pixel-ratio: 1) {

    .quote p {
      font-size: 1.5rem;
      line-height: 2.16rem;
    }

    #howdy {
      font-size: 2.5rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    #welcome {
      border-radius: 0%;
    }

    #gnome span p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
}

/* Stories */

section {
  z-index: 1003;
  width: 100%;
  border: 3px solid rgba(141,209,252,0.5);
  border-left: none;
  border-right: none;
  margin-top: 3em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: url("Brown.JPG") no-repeat left bottom;
}

.scroll {
  position: relative;
  top: 1.5em;
  opacity: 0.7;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  width: 100%;
}

#stories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#storiesTitle {
  font-size: 2.5em;
  font-family: 'Handlee';
}

#storiesDesc {
  font-size: 1em;
  font-family: 'Handlee';
}

.story {
  transition: box-shadow 0.95s;
  padding-top: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 3px dotted #DBA869;
  overflow-y: scroll;
  color: Ivory;
  /*color: #F5F5E6;*/
  opacity: 0.8;
  text-align: center;
}

.story a {
  font-family: 'Handlee';
}

.story:hover {
  box-shadow: 0px 30px 100px rgba(219,168,105,.4);
}

#strangeAttraction {
  background: url("Brown.JPG") no-repeat left center;
  /*color: #D6D6CA;*/
}

#foodFreedom {
  background-color: #6E4443;
  /*color: #F5F5E6;*/
  /*color: #D6D6CA;*/
}

#chimneySweep {
  background: url("blackAndWhiteMoodyTrees.JPG") no-repeat center center;
  opacity: 0.7;
  /*color: #D6D6CA;*/
}

#pumpkinsDelirium {
  background: url("FallLeaf.JPG") no-repeat right bottom;
  /*color: #F5F5E6;*/
  /*color: #D6D6CA;*/
}

#marigold {
  background: url("BackyardSunshine.JPG") no-repeat center left;
  /*color: #D6D6CA;*/
}

.smallerLinks {
  display: none;
}

.smallerStory {
  display: none;
}

.mainstory p { /* Added this to see if font looks better */
  font-family: 'Raleway';
}

/* Making Browser Smaller on Laptop/Desktop Stories */
@media only screen and (max-width: 650px) {
  .links {
    display: none;
  }

  .smallerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .smallerLinks div {
    display: flex;
    display: row;
    align-items: center;
  }

  .smallerLinks div div {
    margin-left: 0.275em;
    margin-right: 0.275em;
  }

  .smallerStory {
    transition: box-shadow 0.95s;
    margin-top: 2.8em;
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px dotted #DBA869;
    overflow-y: scroll;
    color: Ivory;
    opacity: 0.8;
    text-align: center;
  }

  .smallerStory a {
    font-family: 'Handlee';
  }

  .smallerStory:hover {
    box-shadow: 0px 30px 100px rgba(219,168,105,.4);
  }
}

/* iPhone 4 and 4S Stories (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
  }

/* iPhone 5, 5S, 5C and 5SE Stories (Portrait) CHANGE THIS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

    section {
      height: 100%;
      width: 100%;
      background: url("Brown.JPG") no-repeat bottom right;
    }

    #stories {
      justify-content: center;
      width: 100%;
      height: 7em;
      font-size: 4.5em;   /* changed from 3.5em to 4.5em */
    }

    #storiesTitle {
      color: #8DD1FC;
      text-align: center;
      font-size: 5.75rem; /* changed from 2.75rem to 5.75rem */
    }

    #storiesDesc {
      text-align: center;
      font-size: 4.5rem;   /* changed from 1.5rem to 4.5rem */
    }

    .scroll {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1.5em;
    }

    .links {
      display: none;
    }

    .smallerLinks {
      width: 100%;
      margin-top: 1.2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .smallerLinks div {
      width: 85%;
      display: flex;
      display: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .smallerLinks div div {
      margin-left: 0.275em;
      margin-right: 0.275em;
    }

    .smallerStory {
      transition: box-shadow 0.95s;
      margin-top: 2.8em;
      padding-top: 1.3rem;
      width: 390px;
      height: 390px;
      border: 3px dotted #DBA869;
      overflow-y: scroll;
      color: Ivory;
      opacity: 0.8;
      border-radius: 3%;
    }

    .smallerStory a {
      font-family: 'Handlee';
      font-size: 3em;
      text-align: center;
    }

    .smallerStory a:nth-child(2) {
      font-size: 1.5em;
    }

    .smallerStory p {
      font-size: 2.2em;
      text-align: center;
    }

    .smallerStory:hover {
      box-shadow: 0px 30px 100px rgba(219,168,105,.4);
    }
}

/* iPhone 6, 6S, 7 and 8 Stories (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

    section {
      height: 100%;
      width: 100%;
      background: url("Brown.JPG") no-repeat bottom right;
    }

    #stories {
      justify-content: center;
      width: 100%;
      height: 7em;
      font-size: 4.5em;   /* changed from 3.5em to 10em */
    }

    #storiesTitle {
      color: #8DD1FC;
      text-align: center;
      font-size: 5.75rem; /* changed from 2.75rem to 5.75rem */
    }

    #storiesDesc {
      text-align: center;
      font-size: 4.5rem;   /* changed from 1.5rem to 4.5rem */
    }

    .scroll {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1.5em;
    }

    .links {
      display: none;
    }

    .smallerLinks {
      width: 100%;
      margin-top: 1.2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .smallerLinks div {
      width: 85%;
      display: flex;
      display: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .smallerLinks div div {
      margin-left: 0.275em;
      margin-right: 0.275em;
    }

    .smallerStory {
      transition: box-shadow 0.95s;
      margin-top: 2.8em;
      padding-top: 1.3rem;
      width: 390px;
      height: 390px;
      border: 3px dotted #DBA869;
      overflow-y: scroll;
      color: Ivory;
      opacity: 0.8;
      border-radius: 3%;
    }

    .smallerStory a {
      font-family: 'Handlee';
      font-size: 3em;
      text-align: center;
    }

    .smallerStory a:nth-child(2) {
      font-size: 1.5em;
    }

    .smallerStory p {
      font-size: 2.2em;
      text-align: center;
    }

    .smallerStory:hover {
      box-shadow: 0px 30px 100px rgba(219,168,105,.4);
    }
}

/* footer */

footer div {
  padding-top: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* iPhone 4 and 4S Footer (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

  }

/* iPhone 5, 5S, 5C and 5SE Footer (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    footer {
      margin-bottom: -20.5em;    /* not sure if this affects anything */
    }

    footer div {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    footer div a img {
      height: 100px;
      width: 100px;
      margin-top: 0.7rem;
    }
}

/* iPhone 6, 6S, 7 and 8 Footer (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

    footer {
      margin-bottom: -20.5em;    /* not sure if this affects anything */
    }

    footer div {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    footer div a img {
      height: 100px;
      width: 100px;
      margin-top: 0.7rem;
    }
}

/*-------Tidbits of Nonsensical Gibberish--------*/

#pigeon {
  background-color: #3C3FA1;
}

#pancake {
  background-color: #A13C53;
}

#apple {
  background: url("RussiaTrip.JPG") no-repeat left center;
  color: black;
}

#humphrey {
  background-color: #01162E;
}

#frog {
  background-color: #00593C;
}

#evergreen {
  background: url("Pond.JPG") no-repeat bottom center;
  color: black;
}

#cow {
  background-color: #424D4F;
}

#englightenment {
  background-color: #071532;
}

/* iPhone 4 and 4S Tidbits of Nonsensical Gibberish (Portrait)
   CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

  }

/* iPhone 5, 5S, 5C and 5SE Tidbits of Nonsensical Gibberish (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #pigeon, #pancake, #apple, #humphrey, #frog, #evergreen, #cow, #englightenment {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}

/* iPhone 6, 6S, 7 and 8 Tidbits of Nonsensical Gibberish (Portrait)
   IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #pigeon, #pancake, #apple, #humphrey, #frog, #evergreen, #cow, #englightenment {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}

/* ----------- Videos ------------ */

#containerVids {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#allVids {
  margin-top: 1em;
  border: 3px dotted #DBA869;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(89,55,54,0.8);
}

#vidDesc {
  opacity: 0.7;
  text-align: center;
  margin-top: 1em;
}

.shorty {
  margin-top: 0.75em;
}

/* iPhone 4 and 4S Videos (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

  }

/* iPhone 5, 5S, 5C and 5SE Videos (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #vidDesc {
      font-size: 3em;
      margin-bottom: 0.5em;
    }

    #allVids {
      justify-content: space-evenly;
      align-items: space-evenly;
    }
}

/* iPhone 6, 6S, 7 and 8 Videos (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #vidDesc {
      font-size: 3em;
      margin-bottom: 0.5em;
    }

    #allVids {
      justify-content: space-evenly;
      align-items: space-evenly;
    }
}

/* ----------- About Me ------------ */

#me {
  margin-top: 1.5em;
}

.heck {
  margin: 3.3em 0 1em 0;
}

#possum {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
  width: 300px;
  height: 250px;
  border-radius: 100%;
  border: 2px solid Ivory;
  margin-bottom: 10px;
}

/* iPhone 4 and 4S About Me (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

  }

/* iPhone 4 and 4S About Me (Landscape) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: landscape) {

  }

/* iPhone 5, 5S, 5C and 5SE About Me (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #possum {
      transform: rotate(360deg);
      width: 450px;
      height: 500px;
    }
}

/* iPhone 5, 5S, 5C and 5SE About Me (Landscape) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: landscape) {

}

/* iPhone 6, 6S, 7 and 8 About Me (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #possum {
      transform: rotate(360deg);
      width: 450px;
      height: 500px;
    }
}

/* iPhone 6, 6S, 7 and 8 About Me (Landscape)
   IS THIS THE SAME AS iPHONE 6+, 7+ AND 8+ ... AND iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: landscape) {
    #possum {
      transform: rotate(360deg);
      width: 250px;
      height: 300px;
    }
}

/* ----------- Main Stories ----------- */

.containerStory {
  padding: 0.5em 0 1.2em 0;
  border: 3px dotted #DBA869;
  border-top: none;
  width: 80%;
  background-color: #00415E;
  /*color: #F5F5E6;
  color: #E5E5D8;
  color: #D1D1C5;*/
  color: #D6D6CA;
}

.mainstory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainstory p {
  text-align: left;
}

.mainstoryTitle {
  padding: 0.3em 0;
  font-size: 1.9em;
}

.mainstorySubtitle {
  padding: 0.2em 0;
  font-size: 1.259em;
}

.mainstory div {
  padding-top: 0.45em;
}

#FF {
  background-color: #6E4443;
}

#TCS {
  background-color: #3C3F51;
}

#APD {
  background-color: #541F4E;
}

#M {
  background-color: #946650;
}

/* iPhone 4 and 4S Main Stories (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

  }

/* iPhone 5, 5S, 5C and 5SE Main Stories (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    .containerStory {
      width: 90%;
    }

    .mainstory {
      width: 100%;
      font-style: 'Raleway';
      font-size: 3em;
    }
}

/* iPhone 6, 6S, 7 and 8 Main Stories (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

    .containerStory {
      width: 90%;
    }

    .mainstory {
      width: 100%;
      font-style: 'Raleway';
      font-size: 3em;
    }
}

/* ******************************* Mr Cloud of Love ************************ */

#mrcloud {
  margin: auto;
  position: relative;
  height: 600px;
  width: 500px;
  margin-top: -50px;
  margin-bottom: -135px;
}

/* iPhone 4 and 4S Main Stories (Portrait) CHECK TO SEE HOW THIS LOOKS */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 480px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {

  }

/* iPhone 5, 5S, 5C and 5SE Main Stories (Portrait) */
@media only screen and
  (min-device-width: 320px) and
  (max-device-width: 568px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #mrcloud {
      transform: scale(2);
      margin-top: 50px;
      margin-bottom: 50px;
    }
}

/* iPhone 6, 6S, 7 and 8 Main Stories (Portrait) IS THIS THE SAME AS iPHONE X ? */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #mrcloud {
      transform: scale(2);
      margin-top: 50px;
      margin-bottom: 50px;
    }
}

#container {

        width: 500px;
        height: 500px;
        margin: auto;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        margin-bottom: -30%;
      }

      .box {
        width: 400px;
        height: 500px;
        margin: auto;
        border-radius: 40%;
        background-image: linear-gradient(#11717F, #D9717F);
      }

      .blob {
        width: 300px;
        height: 300px;
        position: relative;
        margin: auto;
        top: 7%;
        animation-name: upAndDown;
        animation-duration: 48s;
        animation-duration: 16s;
        animation-duration: 48s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        border: 3px solid transparent; /* fix this later */
      }

      .hair {
        top: 18%;
        z-index: 1;
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 25px solid #F7F7F7;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-radius: 20%;
      }

      #hair1 {
        left: 39%;
        transform: skewX(30deg);
      }

      #hair2 {
        left: 44%;
        transform: skewX(30deg);
      }

      #hair3 {
        left: 49%;
      }

      #hair4 {
        left: 54%;
        transform: skewX(-30deg);
      }

      #hair5 {
        left: 59%;
        transform: skewX(-30deg);
      }

      .eyebrow {
        position: absolute;
        background-color: transparent;
        width: 8%;
        height: 8%;
        border-radius: 50%;
        box-shadow: 3px 3px 0px 0px #F7F7F7;
        transform: rotate(-135deg);
      }

      #eyebrow1 {
        z-index: 1;
        left: 40%;
        top: 33%;
      }

      #eyebrow2 {
        z-index: 1;
        left: 52%;
        top: 33%;
      }

/* ********* HEAD (Eyes, nose, beard, mouth) *********** */

      .blob-top {
        position: relative;
        top: 10%;
        border: 3px solid #D9A071;
        margin: auto;
        margin-top: 15%;
        background: #FFE1A9;
        width: 35%;
        height: 35%;
        border-radius: 60% 60% 90% 90%;
      }

      .left-eye {
        position: relative;
        border-radius: 50%;
        top: 34%;
        left: 25%;
        background: black;
        width: 15%;
        height: 10%;
        border-radius: 50%;
      }

      .right-eye {
        position: relative;
        border-radius: 50%;
        top: 24%;
        left: 60%;
        background: black;
        width: 15%;
        height: 10%;
        border-radius: 50%;
      }

      .centerEye {
        position: relative;
        top: 15%;
        margin: auto;
        border-radius: 50%;
        background: white;
        width: 37%;
        height: 37%;
      }

      .nose {
        position: relative;
        top: 35%;
        border: 3px solid #D9A071;
        width: 5%;
        left: 45%;
      }

      .circ {
        background-color: #F7F7F7;
        border-radius: 50%;
        border: 2px solid white;
        border-right-color: transparent;
        border-left-color: transparent;
        width: 30px;
        height: 30px;
      }

      #circle1 {
        border-left: 2px solid white;
        z-index: 2;
        position: relative;
        left: 0%;
        top: 41%;
      }

      #circle2 {
        z-index: 3;
        position: relative;
        left: 23%;
        top: 8.5%;
      }

      #circle3 {
        z-index: 4;
        position: relative;
        left: 46%;
        top: -24%;
      }

      #circle4 {
        border-right: 2px solid white;
        z-index: 5;
        position: relative;
        left: 68%;
        top: -57%;
      }

      #circle5 {
        border-left: 2px solid white;
        z-index: 6;
        position: relative;
        left: 11%;
        top: -63%;
      }

      #circle6 {
        z-index: 7;
        position: relative;
        left: 34%;
        top: -95.5%;
      }

      #circle7 {
        border-right: 2px solid white;
        z-index: 8;
        position: relative;
        left: 57.5%;
        top: -128%;
      }

      #circle8 {
        border-left: 2px solid white;
        z-index: 9;
        position: relative;
        left: 22.1%;
        top: -135%;
      }

      #circle9 {
        border-right: 2px solid white;
        z-index: 10;
        position: relative;
        left: 45%;
        top: -167.5%;
      }

      #circle10 {
        border: 2px solid white;
        z-index: 11;
        position: relative;
        left: 34%;
        top: -174%;
      }

      .mouth {
        animation-name: mouth;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        z-index: 12;
        position: relative;
        background-color: black;
        height: 10px;
        width: 20px;
        top: -272%;
        left: 41%;
        border-radius: 50%;
      }

/* ********************* BOTTOM ************************* */

      .blob-bottom {
        z-index: 1;
        position: relative;
        border: 3px solid #315B68;
        margin: auto;
        top: -279.75%;
        left: -14%;
        background: #2B505B;
        width: 123%;
        height: 187%;
        border-radius: 40%;
      }

      .heart {
        animation-name: heart;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
        z-index: 12;
        position: absolute;
        background-color: #E86668;
        width: 20px;
        height: 20px;
        top: 212.5%;
        left: 41.5%;
        transform: rotate(-135deg);
      }

      .circleHeartParts {
        position: relative;
        background-color: #E86668;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      #left-side {
        z-index: 13;
        top: 50%;
        left: 0%;
      }

      #right-side {
        z-index: 14;
        top: -100%;
        left: 50%;
      }

/* ******************* KEYFRAMES ************************ */

      @keyframes upAndDown {
        0% {

        }
        66% {
          margin-top: 0%;
        }
        70%, 75% {
          margin-top: 24.6%;
        }
        83% {
          margin-top: 0%;
        }
        91%, 96% {
          margin-top: -23%;
        }
        100% {
          margin-top: 0%;
        }
      }

      @keyframes heart {
        0% {
          transform: scale(1) rotate(-135deg);
        }
        50% {
          transform: scale(0.6) rotate(-135deg);
        }
      }

      #hoot {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 20%;
        transform: scale(0.85);
        width: 500px;
        height: 700px;
        margin-top: -10%;
        margin-bottom: -21.5%;
      }

      .moonBlock {
        margin: auto;
        z-index: 600;
        background-color: #385263;
        width: 500px;
        height: 150px;
        margin-top: -100%;
        margin-top: 0;
      }

      #block-moon {
        position: relative;
        z-index: 602;
        margin: auto;
        height: 100%;
        width: 30%;
        background-color: #385263;
        margin-left: 35%;
      }

      #block-sun {
        position: relative;
        z-index: 602;
        margin: auto;
        width: 30%;
        height: 100%;
        background-color: #385263;
        margin-left: 35%;
      }

      .sunBlock {
        margin: auto;
        z-index: 600;
        background-color: #385263;
        width: 500px;
        height: 150px;
        margin-top: 100%;
      }

      #sun {
        animation-name: sun;
        animation-duration: 48s;
        animation-duration: 16s;
        animation-duration: 48s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        z-index: 60;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #FD8C00;
        transform: scale(0.69);
        position: relative;
        top: -47%;
        margin: auto;
        margin-top: -11%;
      }

      #moon {
        animation-name: moon;
        animation-duration: 48s;
        animation-duration: 16s;
        animation-duration: 48s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        z-index: 70;
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 3px 3px 0 0 #F7FFDC;
        margin-top: -87.5%;
        left: 37%;

        top: -98.5%;
        margin: auto;
        left: -1.5%;

        margin-top: 38%;
        left: -37.75%;
        z-index: 55;

        left: -2%;
        margin-top: 7.5%;
      }

      @keyframes moon {
        66% {
          margin-top: 7.5%;
        }
        70%, 75% {
          margin-top: 34.5%;
        }
        83% {
          margin-top: -1%;
        }
        91%, 96% {
          margin-top: 7.5%;
        }
        100% {
          margin-top: 7.5%;
        }
      }

      .elongated {
        position: relative;
        width: 0;
        height: 0;
        border-bottom: 37.5px solid #FFA300;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-radius: 20%;
      }

      #e1 {
        left: 43%;
        top: -70%;
      }

      #e2 {
        left: -18%;
        top: -108%;
        transform: rotate(-45deg);
      }

      #e3 {
        left: -45%;
        top: -105%;
        transform: rotate(-90deg);
      }

      #e4 {
        left: -20%;
        top: -103%;
        transform: rotate(-135deg);
      }

      #e5 {
        left: 43%;
        top: -140%;
        transform: rotate(-180deg);
      }

      #e6 {
        left: 108%;
        top: -228%;
        transform: rotate(-225deg);
      }

      #e7 {
        left: 135%;
        top: -355%;
        transform: rotate(-270deg);
      }

      #e8 {
        left: 108%;
        top: -484%;
        transform: rotate(45deg);
      }

      @keyframes sun {
        66% { /*66.666% */
          margin-top: -11%;
        }
        70%, 75% { /* 70.791%, 73.541% */
          margin-top: -11%;
        }
        83% { /* 83.166% */
          margin-bottom: 11%;
          margin-top: -11%;
        }
        91%, 96% { /* 92.791%, 95.541% */
          margin-top: -41.5%;
          margin-bottom: 41.5%;
        }
        100% {
          margin-top: -11%;
          margin-bottom: 11%;
        }
      }

      #eyelid1 {
        animation-name: eyelid1;
        animation-duration: 16s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        z-index: 1000;
        position: absolute;
        top: 22%;
        left: 24.5%;
        background-color: #FFE1A9;
        width: 16%;
        height: 11%;
        border-radius: 50% 50% 20% 20%;
      }

      #eyelid2 {
        animation-name: eyelid2;
        animation-duration: 16s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        z-index: 1000;
        position: absolute;
        top: 22%;
        left: 59.5%;
        background-color: #FFE1A9;
        width: 16%;
        height: 11%;
        border-radius: 50% 50% 20% 20%;
      }

      @keyframes eyelid1 {
        0% {
          top: 22%;
        }
        32% {
          top: 22%;
        }
        33% {
          top: 33%;
        }
        34.5% {
          top: 22%;
        }
        90% {
          top: 22%;
        }
        91% {
          top: 33%;
        }
        92.5% {
          top: 22%;
        }
        100% {
          top: 22%;
        }
      }

      @keyframes eyelid2 {
        0% {
          top: 22%;
        }
        32% {
          top: 22%;
        }
        33% {
          top: 33%;
        }
        34.5% {
          top: 22%;
        }
        90% {
          top: 22%;
        }
        91% {
          top: 33%;
        }
        92.5% {
          top: 22%;
        }
        100% {
          top: 22%;
        }
      }
