/* Universal */

body {
  font-family: 'Raleway';
  color: Ivory;
  background-color: #385263;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center; /*puts nav in the middle*/
  height: 3em;
  border-bottom: 3px dotted rgba(98, 146, 175, 0.3);
  width: 100%;
  background: url("Brown.JPG") no-repeat left top;
  position: static;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  transition: color 0.35s;
  text-decoration: none;
  color: #8DD1FC;
}

a:hover {
  color: #EBCEFC;
}

.smallerMenu { /* ------ samller -------- */
  display: none;
}

#hiddenTop {
  display: none;
}

/* Making Browser Smaller on Laptop/Desktop */
@media only screen and (max-width: 650px) {
  .menu {
    display: none;
  }
  
  .smallerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center; /*puts nav in the middle*/
    height: 8.5em;
    border-bottom: 3px dotted rgba(98, 146, 175, 0.3);
    width: 100%;
    background: url("Brown.JPG") no-repeat left top;
    position: static;
  }

  .smallerMenu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .smallerMenu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #nightDahliaSym {
    padding-top: 0.2em;
  }

  .smallerMenu nav ul a {
    padding: 0.075em;
  }

  #topperTop {
    display: none;
  }

  #hiddenTop {
    display: flex;
  }
}

/* Mobile Menu */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    
    .menu {
      height: 24em;
    }
    
    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .menu nav ul:nth-child(1) {
      font-size: 3rem;
    }
    
    a[tabindex]:focus {
      color: #8DD1FC;
    }
}

/* ipad mini menu */
@media only screen and
  (min-device-width: 768px) and
  (max-device-width: 1024px) and
  (-webkit-min-device-pixel-ratio: 1) {
    a[tabindex]:focus {
      color: #8DD1FC;
    }
}
    
    /*.Menu nav ul a {
      font-size: 3rem;   /*RECENT CHANGE --
} */
    

/* Quote */

.quote {
  display: flex;
  justify-content: center;
  font-family: 'Handlee';
}

.quote p {
  word-spacing: 0.03rem;
  line-height: 1.22rem;
  padding: 0 2em;
  text-align: center;
}

/* FIX SYMBOLS!!!!!*/

.symbol, #flippedSymbol {
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.symbol p, #flippedSymbol p {
  line-height: 0.72rem;
}

#psi, #psi2 {
  padding-left: 0.035rem;
}

#flippedSymbol p {
  transform: rotate(180deg);
}

/* Welcome */

#welcome {
  height: 85%;
  width: 85%;
  border: 3px dotted #DBA869;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 3%;
}

#welcome img {
  border: 3px dotted #DBA869;
  border-top: none;
  height: 55%;
  width: 55%;
  position: relative;
}
/* Using this to try to fix the way the picture shows up on Linux*/
@media screen and (min-width: 1800px), (max-width: 3200px) {
    #welcome img {
      height: auto;
    }
}
/* iPhone 6, 6S, 7 and 8 in Portrait mode */
/* Might be better to scroll content over picture??? Change later to see */
@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    
    .symbol, #flippedSymbol {
      height: 4em;
      margin-top: 2em;
    }
    
    #flippedSymbol {
      margin-bottom: 2em;
    }
      
    .symbol p, #flippedSymbol p {
      font-size: 3.25rem;
      line-height: 2.3rem;
    }
    
    .quote p {
      font-size: 2rem;   /* changed from 1.75rem to 2rem */
      line-height: 2.5rem;   /*changed this from 2.16rem to 2.5rem */
      margin-top: 1.5em;
    }
    
    #howdy {
      font-size: 3.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
    
    #welcome {
      border: none;
      width: 95%;
      height: 95%;
    }
    
    #welcome img {
      border: 3px dotted #DBA869;
      width: 100%;
      height: 100%;
    }
    
    #gnome span p {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
    
    section {
      height: 100%;
      width: 100%;
      background: url("./Photos/Brown.JPG") no-repeat bottom right;
    }
    
    #stories {
      justify-content: center;
      width: 100%;
      height: 7em;
      font-size: 3.5em;
    }
    
    #storiesTitle {
      color: #8DD1FC;
      text-align: center;
      font-size: 2.75rem;
    }

    #storiesDesc {
      text-align: center;
      font-size: 1.5rem;
    }
    
    .scroll {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1.5em;   /*changed*/
    }
}
/* iPad 1, 2, Mini and Air in Portrait AND Landscape mode*/
@media only screen and
  (min-device-width: 768px) and
  (max-device-width: 1024px) and
  (-webkit-min-device-pixel-ratio: 1) {
    
    .quote p {
      font-size: 1.5rem;
      line-height: 2.16rem;
    }
    
    #howdy {
      font-size: 2.5rem;
      line-height: 2rem;    
      margin-bottom: 1rem;  /* CHANGED PrEv */
    }
    
    #welcome {
      border-radius: 0%;    
    }
    
    #gnome span p {
      font-size: 1.5rem;    /* leave this be */
      line-height: 2rem;
    }
}
    
    
    
      
      

#gnome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gnome p {
  line-height: 1.22rem;
  word-spacing: 0.03rem;
}

/* Stories */

section {
  width: 100%;
  border: 3px solid rgba(141,209,252,0.5);
  border-left: none;
  border-right: none;
  margin-top: 3em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: url("Brown.JPG") no-repeat left bottom;
}

.scroll {
  position: relative;
  top: 1.5em;
  opacity: 0.7;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  width: 100%;
}

#stories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#storiesTitle {
  font-size: 2.5em;
  font-family: 'Handlee';
}

#storiesDesc {
  font-size: 1em;
  font-family: 'Handlee';
}

.story {
  transition: box-shadow 0.95s;
  padding-top: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 3px dotted #DBA869;
  overflow-y: scroll;
  color: Ivory;
  opacity: 0.8;
  text-align: center;
}

.story a {
  font-family: 'Handlee';
}

.story:hover {
  box-shadow: 0px 30px 100px rgba(219,168,105,.4);
}

#strangeAttraction {
  background: url("Brown.JPG") no-repeat left center;
}

#foodFreedom {
  background-color: #6E4443;
}

#chimneySweep {
  background: url("blackAndWhiteMoodyTrees.JPG") no-repeat center center;
  opacity: 0.65;
}

#marigold {
  background: url("BackyardSunshine.JPG") no-repeat center left;
}

.smallerLinks {
  display: none;
}

.smallerStory {
  display: none;
}

/* A better way to do this would be to change the already-existing stuff instead
  of copying, pasting, and re-organizing the copied stuff, but it doesn't look
  as good... */

@media only screen and (max-width: 650px) {
  .links {
    display: none;
  }

  .smallerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .smallerLinks div {
    display: flex;
    display: row;
    align-items: center;
  }

  .smallerLinks div div {
    margin-left: 0.275em;
    margin-right: 0.275em;
  }

  .smallerStory {
    transition: box-shadow 0.95s;
    margin-top: 2.8em;
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px dotted #DBA869;
    overflow-y: scroll;
    color: Ivory;
    opacity: 0.8;
    text-align: center;
  }

  .smallerStory a {
    font-family: 'Handlee';
  }

  .smallerStory:hover {
    box-shadow: 0px 30px 100px rgba(219,168,105,.4);
  }
}

/*@media only screen and (max-width: 650px) {
  .links {
    flex-wrap: wrap;
  }

  .story {
    margin-left: 0.275em;
    margin-right: 0.275em;
    margin-bottom: 2.0em;
  }
} ********This ^^^^ would work, but looks less good ********* */

@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    .links {
      display: none;
    }

    .smallerLinks {
      width: 100%;
      margin-top: 1.2em;   /*changed 1.25em to 1.2em */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .smallerLinks div {
      width: 85%;
      /*margin-top: -1em;   /*need this to be equal as they go down continuously */
      display: flex;
      display: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .smallerLinks div div {
      margin-left: 0.275em;
      margin-right: 0.275em;
    }

    .smallerStory {
      transition: box-shadow 0.95s;
      margin-top: 2.8em;
      padding-top: 1.3rem;  /*was 1.5rem*/
      /*display: flex;
      flex-direction: column;
      align-items: center;*/
      /*width: 200px;
      height: 200px;*/
      width: 390px;
      height: 390px;
      border: 3px dotted #DBA869;
      overflow-y: scroll;
      color: Ivory;
      opacity: 0.8;
      border-radius: 3%;
    }

    .smallerStory a {
      font-family: 'Handlee';
      font-size: 3em;
      text-align: center;
    }
    
    .smallerStory a:nth-child(2) {
      font-size: 1.5em;
    }
    
    .smallerStory p {
      font-size: 2.2em;
      text-align: center;
    }

    .smallerStory:hover {
      box-shadow: 0px 30px 100px rgba(219,168,105,.4);
    }
}

/*-------Tidbits of Nonsensical Gibberish--------*/

#pigeon {
  background-color: #3C3FA1;
}

#pancake {
  background-color: #A13C53;
}

#apple {
  background: url("RussiaTrip.JPG") no-repeat left center;
  color: black;
}

#humphrey {
  background-color: #01162E;
}

#frog {
  background-color: #00593C;
}

#evergreen {
  background: url("Pond.JPG") no-repeat bottom center;
  color: black;
}

@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #pigeon, #pancake, #apple, #humphrey, #frog, #evergreen {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}



/* footer */

footer div {
  padding-top: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    
    footer {
      margin-bottom: -20.5em;    /* not sure if this affects anything. --> probably doesn't */
    }
    
    footer div {
      font-size: 2.5rem;
      line-height: 2.5rem; 
    }
    
    footer div a img {
      height: 100px;
      width: 100px;
      margin-top: 0.7rem;
    }
}
      

/* ----------- Videos ------------ */

#containerVids {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#allVids {
  margin-top: 1em;    /*changed to 2em from 1em*/
  border: 3px dotted #DBA869;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(89,55,54,0.8);
}

#vidDesc {
  opacity: 0.7;
  text-align: center;
  margin-top: 1em;
}

.shorty {
  margin-top: 0.75em;
}

@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #vidDesc {
      font-size: 3em;
      margin-bottom: 0.5em;  /*changed */
    }
    
    #allVids {
      justify-content: center;
      align-items: center;
    }
    
    .shorty {
      width: 100%;
      height: 100%;
    }
}

/* ----------- About Me ------------ */

#me {
  margin-top: 1.5em;
}

.heck {
  margin: 3.3em 0 1em 0;   /*Changed 1.7em (bottom) to 1em*/
}

#possum {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
  width: 300px;
  height: 250px;
  border-radius: 100%;
  border: 2px solid Ivory;
}

@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    #possum {
      transform: rotate(360deg);
      width: 450px;
      height: 500px;
    }
}
 


/* ----------- Main Stories ----------- */

.containerStory {
  padding: 0.5em 0 1.2em 0;
  border: 3px dotted #DBA869;
  border-top: none;
  width: 80%;
  background-color: #00415E;
}

.mainstory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainstory p {
  text-align: left;
}

.mainstoryTitle {
  padding: 0.3em 0;
  font-size: 1.9em;
}

.mainstorySubtitle {
  padding: 0.2em 0;
  font-size: 1.259em;
}

.mainstory div {
  padding-top: 0.45em;
}

#FF {
  background-color: #6E4443;
}

#TCS {
  background-color: #3C3F51;
}

#M {
  background-color: #946650;
}

/* This probably ain't gonna work */

@media only screen and
  (min-device-width: 375px) and
  (max-device-width: 667px) and
  (-webkit-min-device-pixel-ratio: 2) and
  (orientation: portrait) {
    
    .tea {
    }
    
    .babyTea {
    }
}
